body {
  background: gray;
}

img {
  width: 300px;
  height: 300px;
}

h1 {
  color: aliceblue;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  text-shadow: 3px 2px black;
}
