<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Detect Blister</title>
  <link rel="stylesheet" href="static/style.css" />
</head>

<body>
  <h1>I'm a King</h1>
  <a href="{{ url_for('about') }}"> About Us </a>
  <img src="static/avatar.jpg"
    class="img-thumbnail ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="" />
  <div class="video">
    <iframe width="1206" height="678" src="https://www.youtube.com/embed/bmwUWQK1Xds" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</body>

</html>